/**
 * Specific Options Classes
 */
.back {
	background: white;
	color: #000;
	font-size: 25px;
	position: absolute;
	left: 30px;
	top: 30%;

	align-items: center;
	background-color: #87939b;
	border-radius: 25px;
	display: flex;
	justify-content: center;
	padding: 20px 40px;
	color: #000000;
	font-family: "Poppins-Bold", sans-serif;
	font-style: normal;
	font-size: 25px;
	font-weight: normal;
	letter-spacing: normal;
	line-height: 0px;
	margin: auto;
	margin-top: 0%;
	opacity: 0.6;
	white-space: nowrap;
	width: 60px;
	height: 35px;
	text-align: center;
	text-transform: none;
	cursor: pointer;
	transition: 0.3s all ease-in-out;
}
