h3 {
  padding: 20px;
  background: rgba(255, 255, 255, 0.4);
  display: block;
  width: 500px;
  font-size: 1.25em;
  font-weight: bold;
  border-radius: 10px;
  text-align: center;
}

body {
	font-family: Arial;
  background: rgb(105,190,40);
  background: linear-gradient(90deg, rgba(105,190,40,1) 0%, rgba(0,121,52,1) 35%, rgba(254,203,0,1) 100%);
}

.qt-displaybox {
    padding: 20px;
    background: white;
    color: black;
    border-radius: 10px;
}

.qt-question {
  padding: 1.5rem 2.5rem;
  background-color: white;
  color: black;
  width: 500px;
  font-weight: bold;
  border-radius: 10px;
}

.qt-question.qt-active {
  padding: 20px;
  background: rgba(255, 255, 255, 0.4);
  color: black;
	display: inline-block;
  border-radius: 10px;
}

.qt-question.qt-inactive {
	display: none;
}

.qt-option {
  display: flex;
  margin-bottom: 0.5rem;
  width: 11rem;
  font-size: 1.8rem;
  border-radius: 10px;
  background-color: white;
  color: #007934;
  text-align: center;

	display: inline-block;
  height: 30px;
	line-height: 30px;
  margin: 20px 5px 5px 10px;
}

.qt-option:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(0, 121, 52, 1);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

#answer-result {
	padding: 20px;
  padding: 1.5rem 2.5rem;
  background-color: white;
  color: black;
  border-radius: 10px;
  width: 500px;
  font-weight: bold;

  padding: 20px;
  background: white;
  color: black;
  border-radius: 10px;
}

  /* BUTTONS */
.button {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem 0;
  width: 5rem;
  text-align: center;
  border: 0.1rem rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  text-decoration: none;
  color: #007934;
  background-color: white;
}
  
.button:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(0, 121, 52, 1);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}
  
.button[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

  /* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

.tooltipright {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
/* Tooltip text */
.tooltipright .tooltiptextright {
  visibility: hidden;
  width: 240px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.tooltipright:hover .tooltiptextright {
  visibility: visible;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 240px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.link-style {
  color:#0074a1;
  text-decoration: none;
}

.link-style:hover {
  text-decoration: underline;
}

